server:
  servlet:
    context-path: /employer
spring:
  port: 8080
  liquibase:
    enabled: false
  h2:
    console:
      enabled: true # This must disabled on PRODUCTION env.
  datasource:
    url: jdbc:h2:mem:employerdb
    driverClassName: org.h2.Driver
    username: sa
    password: password
  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    hibernate.ddl-auto: none
logging:
  level:
    ROOT: INFO
    org.springframework.web: DEBUG
    com.siampharm: DEBUG
    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql: TRACE
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE
    me.norrapat: DEBUG
